<%- include('../partials/_header.ejs') -%>

<main class="w-full min-h-4/5">
	<div class="mx-auto w-4/5 lg:w-2/5 bg-white rounded-md p-6"><%- body %></div>
</main>

<%- include('../partials/_footer') -%>
