<div id="hero" class="flex px-4 pt-12 lg:px-16 lg:pt-32">
	<div class="desc lg:w-2/3 w-full">
		<h1 class="text-2xl lg:text-6xl font-bold">Replace your current bad habits with better ones.</h1>
	</div>
</div>
